- title= "Plink, an app to help creators organize the things they make."
- description= "Plink links emails, documents and websites by time, place and person. It helps people easily gather the materials they need for their day. It is similar to Google now, but with more granular information focused specifically on daily office work."
title= title
meta( property="og:title", content=title )
meta( name="description", content=description )
meta( property="og:description", content=description )
meta( property="twitter:description", content=description )
meta( property="og:type", content="website" )
meta( property="og:url", content=(APP_URL + (req ? req.path : "")) )
meta( property="twitter:card", content="summary" )
